.efpp-messages {
	display: none;
	color: green;
	font-weight: 600;
	margin-top: 10px;
}

.efpp-message {
  background: #e7fbe7;
  border: 1px solid #b7e2b7;
  padding: 10px 15px;
  margin-top: 15px;
  font-size: 15px;
  color: #1e4620;
  border-radius: 6px;
}

.efpp-error-message {
  background: #fdeaea;
  border: 1px solid #e0a1a1;
  padding: 10px 15px;
  margin-top: 15px;
  font-size: 15px;
  color: #802020;
  border-radius: 6px;
}

.efpp-inline-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.efpp-inline-options .elementor-field-option {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.efpp-inline-options input[type="radio"],
.efpp-inline-options input[type="checkbox"] {
  margin-right: 0.4em;
}


